<div class="container">
    <div class="jumbotron jumbotron-head ">
        <h2>Find your transport</h2>    
        <p>Welcome to one touch vehicle information and booking system.</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mobile-img">
        <span></span>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="content">
          <span class="content-first">Make your journey faster than ever.</span>
          <span class="content-second"> Introducing one touch cab booking.</span>
        </div>
        <div class="form-group row button-pos">
          <div class="col-lg-4 col-md-4"></div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <button class="form-control" (click)="navigate('/cab-dashboard')"><a routerLink="/cab-dashboard">Get Started!!!</a></button>
          </div>
          <div class="col-lg-4 col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-footer">
      <h2>Journeys are at your hands</h2>
    </div>
  </div>
  