<div class="container">
    <!-- <div class="jumbotron jumbotron-head ">
        <h2>Find your transport</h2>    
        <p>Welcome to one touch vehicle information and booking system.</p>
    </div> -->
    <div class="row">
      <div class="row">
        <h2>Find your transport</h2>    
        <p>Welcome to one touch vehicle information and booking system.</p>
      </div>
      <div class="row custom-div">
        <div class="col-md-12 custom-pos">          
            <button class="btn btn-primary-outline btn-md set-margin" (click)="navigate('/search-cabs')"><a routerLink="/search-cabs">Search and Show Cabs</a></button>
            <button class="btn btn-primary-outline btn-md" (click)="navigate('/cabs-on-map')"><a routerLink="/cabs-on-map">Show Cars On Map</a></button>
            <!-- <button class="form-control col-md-3"><a routerLink="/search-cabs"></a>Search Cabs</a></button>
            <button class="form-control col-md-3"><a routerLink="/search-cabs">Show On Maps</a></button> -->
        </div>       
      </div>
    </div>
  </div>
<div>
